.features-container__title {
  color: $title-text-color;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.features-container__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  // display: flex;
  // justify-content: space-between;
  // gap: 30px;
  padding: 0;
  margin: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

     @media screen and (min-width:1200px) {
      display: flex;
      flex-wrap: nowrap;
      gap: 30px;

     }
}

.features__item {
  width: 270px;

  @media screen and (max-width: 767px) {
    width: 450px;
    margin-bottom: 30px;
  }

  &--last {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    margin-bottom: 0;
  }
}

.features__icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $team-bgr-color;
  border-radius: 4px;

  @media screen and (max-width: 767px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
  }
}

.features__text {
  color: $text-color;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
}

.features__title,
.team-title {
  margin-top: 0;
  margin-bottom: 10px;
}
