.hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/bgr.jpg);
  background-color: $background-color;
  background-position: center;

  @media screen and (max-width:767px) {
    min-width: 480px;
  }
}

.hero__title {
  color: $hero-text-color;
  font-weight: 900;
  // font-size: 44px;
  // line-height: calc(60 / 44);
  // letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  // width: 696px;
  margin: 0 auto 30px auto;
  padding: 0;

  @media screen  and (max-width:767px)  {
    font-weight: 900;
      font-size: 26px;
      line-height: 42px;
      
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
  }
}