.hero {
  width:100%;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  height: auto;

  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/bgr-mobile.jpg");

    width: 480px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 118px 0 118px 0;

    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
      screen and (min-resolution: 192dpi) and (max-width: 767px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/bgr-mobile@2x.jpg");

    
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/bgr-tablet.jpg");
      max-width: 768px;
    padding: 118px 0 118px 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
      screen and (min-resolution: 192dpi) and (min-width: 768px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/bgr-tablet@2x.jpg");
      
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/bgr.jpg");
    padding: 200px 0 200px 0;
    background-repeat: no-repeat;
    height: auto;
    max-width: 1600px;

    @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
      screen and (min-resolution: 192dpi) and (min-width: 1200px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../img/bgr@2x.jpg");
    }
  }
}



.hero__title {
  color: $hero-text-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;

  letter-spacing: 0.06em;

 
  text-transform: uppercase;
  text-align: center;
  
  margin: 0 auto 30px auto;
  padding: 0;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 360px;

    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    
  }
}
