.list-socials {
  display: flex;
  // justify-content: space-between;
  padding: 0;

  @media screen  and (max-width:767px) {
    gap: 10px;
    justify-content: center;
  }
}

.list-socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $social-icons-fill;
  transition-property: fill, background-color;
  transition-duration: $transition-dur;
  transition-timing-function: $cubic-bezier;

&:hover,
  &:focus {
    fill: $body-bgr-color;
    background-color: $accent-color;
  }
}

