.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lable-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: $text-color;
}

.lable-title__text {
  margin: 0;
}

.input-thumb {
  position: relative;
  margin-bottom: 10px;
}

.input-thumb__modal-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: $transition-dur;
  transition-timing-function: $cubic-bezier;

  .input-thumb__field:focus + & {
    fill: $accent-color;
  }
}

.input-thumb__field {
  position: relative;

  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: $transition-dur;
  transition-timing-function: $cubic-bezier;

  &:focus {
    border-color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    min-width: auto;
    min-height: auto;
  }

  @media screen and (max-width: 1199px) {
    width: 370px;
  }
}

.comment-field {
  position: relative;
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: $transition-dur;
  transition-timing-function: $cubic-bezier;

  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    position: absolute;
    top: 12px;
    left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-align: 0;
    color: rgba(117, 117, 117, 0.5);
  }

  @media screen and (max-width: 1199px) {
    width: 370px;
  }
}
