.social-footer {
  width: 206px;

  @media screen  and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
    
  }

    @media screen and (min-width:768px) and (max-width:1199px) {
      text-align: center;
    }

  
}

.social-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $hero-text-color;
  margin: 0;
  margin-bottom: 20px;
}

.icons-ftr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.icons-ftr__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $body-bgr-color;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: $transition-dur;
  transition-timing-function: $cubic-bezier;

&:hover,
  &:focus {
    background: $accent-color;
  }
}

