.work {
  padding-bottom: 94px;

  @media screen  and (max-width:767px){
    display: none;
  }
}

.work-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}

.work-list__item {
  position: relative;
}

.work-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: $work-img-bgc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-image__text {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $hero-text-color;
}