$body-bgr-color: #ffffff;
$primary-text-color: #212121;
$accent-color: #2196f3;
$title-text-color: #212121;
$text-color: #757575;
$hero-text-color: #ffffff;
$background-color: #2f303a;
$second-part-logo: #000000;
$portfolio-button-bgr: #f5f4fa;
$hover-focus-btn: #188ce8;
$team-bgr-color: #f5f4fa;
$social-icons-fill: #afb1b8;
$backdrop: rgba(0, 0, 0, 0.2);
$header-bttm-border: #ececec;
$work-card-border:#eeeeee;
$overflow-bgc:rgba(33, 150, 243, 0.9);
$work-img-bgc:rgba(47, 48, 58, 0.8);

$transition-dur:250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);